# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
.envrc
out
gen

# Terraform
.DS_Store
.terraform/
terraform.tfstate
terraform.tfstate.backup
terraform.tfstate.*.backup
*.tfplan
